@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  display: flex;
  width: 200%;
  animation: marquee 10s linear infinite;
}

.animate-marquee2 {
  display: flex;
  width: 200%;
  animation: marquee2 10s linear infinite;
}
*{
    font-family:Arial, Helvetica, sans-serif;
}


